{% extends 'base.html' %}

{% block title %}Run Analysis{% endblock %}

{% block content %}
    <h4>Upload an image file for analysis</h4>
    <p>Learn more about the current file format limitations at <a href="{% url 'about' %}#usage">Usage</a>.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3 form-file-input-field">
            {# file upload only accepts TIFF format #}
            <input type="file" class="form-control" id="img" name="img" accept=".tif, .tiff">
            <label class="input-group-text" for="img">Upload</label>
        </div>
        <button class="hidden-button mt-4 m-2 btn btn-primary" type="submit">Run
            analysis
        </button>
        <button id="remove-file-button" class="hidden-button mt-4 m-2 btn btn-secondary" type="button">Remove
            file
        </button>
    </form>
    <br>

    {% if fail == 1 %}
        <p class="text-danger">Something is wrong! Please, make sure that you are uploading a TIFF file.</p>
    {% elif fail == 2 %}
        <p class="text-danger">Something went wrong! Unfortunately, we failed to process the uploaded file.</p>
    {% endif %}

    {% if image and chart %}
        <div class="card-group d-flex justify-content-center">
            <div class="card-max-width card">
                <img src="{{ image }}" class="local-card-image card-img-top" alt="...">
                <div class="card-footer">
                    <span class="card-text">Identified Nanoparticles</span>
                    <a href="{{ image }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-arrow-up-right-from-square text-dark little-icon"></i>
                    </a>
                </div>
            </div>
            <div class="card-max-width card">
                <img src="{{ chart }}" class="local-card-image card-img-top" alt="...">
                <div class="card-footer">
                    <span class="card-text">Size Distribution Histogram</span>
                    <a href="{{ chart }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-arrow-up-right-from-square text-dark little-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <br>

    {% if results %}
        {% if user.is_authenticated %}
            {# button trigger modal #}
            <button id="save-to-project" type="button" class="mt-4 m-2 btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                Save to project
            </button>
            {# include modal #}
            {% include 'nanoer/save_to_project.html' %}
        {% else %}
            <a role="button" href="{% url 'login' %}" class="mt-4 m-2 btn btn-primary">Save to project</a>
        {% endif %}
        <a class="mt-4 m-2 btn btn-secondary" role="button" href="/media{{ results }}" download="">Download</a>
    {% endif %}

    {% load static %}
    {# loads nanoer's local style sheet #}
    <link rel="stylesheet" href="{% static 'nanoer/style.css' %}">
    {# loads nanoer's local javascript #}
    <script src="{% static 'nanoer/script.js' %}"></script>
    <script>
        {# erase temporary files generated by the last analysis before leaving the page #}
        window.addEventListener("beforeunload", () => {
            console.log("worked")
            tempCleanUp('{{ tmpdir }}', '{% url 'nanoer:temp_clean_up' %}', '{{ csrf_token }}')
        })

        {# toggle Run Analysis and Remove File buttons on/off depending on whether an image has been uploaded #}
        document.getElementById("img").addEventListener("change", (ev) => {
            toggleRunButton(ev.target)
        })

        {# remove file selected for upload from input field and alert the buttons to be toggled #}
        document.getElementById("remove-file-button").addEventListener("click", () => {
            removeFileButton()
        })

        {# get list of projects to be displayed in the modal #}
        document.getElementById("save-to-project").addEventListener("click", () => {
            getProjectList('{% url 'nanoer:get_project_list' %}', '{{ user.id }}')
        })

        {# enable Save button only after one of the radio buttons has been selected #}
        document.getElementById("project-list").addEventListener("change", () => {
            enableSaveButton()
        })

        {# save current analysis to selected project #}
        document.getElementById("save").addEventListener("click", () => {
            saveToProject('{% url 'nanoer:save_to_project' %}', '{{ csrf_token }}', '{{ tmp_files }}')
        })
    </script>
{% endblock %}