{% extends 'base.html' %}

{% block title %}Password Update Confirmation{% endblock %}

{% block content %}
    <h1>Password changed</h1>
    <br><br>
    <h4>Your password has been changed!</h4>
    {# passes id from User model instance to view associated with the name "detail" #}
    <a role="button" href="{% url 'accounts:detail' user.id %}" class="mt-5 m-2 btn btn-primary">Back to Details</a>
    {# link to view associated with the name "home" #}
    <a role="button" href="{% url 'home' %}" class="mt-5 m-2 btn btn-secondary">Back to Home</a>
{% endblock %}